<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
	<nav class="navbar" th:fragment="navbar">
		<a class="navbar-logo" th:href="@{/}">
			<img class="navbar-logo-img" th:src="@{/img/navbar.png}" alt="LimpiaMedia">
		</a>
		<div class="navbar-links">
			<a class="nav-link" th:classappend="${rutaActual == '/'} ? 'activo'"
			   th:href="@{/}">Inicio</a>
			<a class="nav-link" th:classappend="${rutaActual.startsWith('/movimientos')} ? 'activo'"
			   th:href="@{/movimientos}">Historial de movimientos</a>
		</div>
	</nav>
</body>
</html>
